@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: burlywood;
}
input{
  outline: none;
}
.company:hover{
  cursor: pointer;
}
.subtitle{
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.featuredHouse{
  border-radius: 2px;
  background-color: rgb(255, 190, 166);
}
tr:hover{
  cursor: pointer;
}
